body{
    background-color: rgb(239, 234, 234);
  }
  h1{
    text-align: center;
  }
  div{
    height:550px;
    width: 350px;
    border: 4px solid rgb(237, 231, 231);
    background-color: rgb(252, 250, 250);
    text-align: center;
  padding: 10px;
  border-radius: 18px;
  /* box-sizing: border-box; */

   
  }
  img{
    width: 300px;
    height: 280px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
   
  }
  .price{
    color: green;
    font-weight:bold;

  }
  button{
    padding: 10px;
    margin: 4px;
    background-color: rgb(31, 89, 176);
    color: white;
    border-radius: 7px;
    font-size: larger;
  }
  .container{
    display: flex;
    padding: 10px;
    margin: 10px;
    gap: 15px;
    justify-content: center;
   
  }
  p{
    color: grey;
  }